.wrapper {
  max-width: 1800px;
  margin: 0 auto;
  width: 100%;
}

header {
  background-color: #330072;
  min-height: 75px;
  display: flex;
  align-items: center;

}
img {
  max-width: 7.5%;
  margin: 0 auto;
}